<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <title>SoftwareEngineering.life</title>
    <title>SoftwareEngineering.Life</title>
</head>
<body>
<section class="section">
    <div class="container">
        <div id="app" class="columns">
            <!-- React -->
        </div>
    </div>
</section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>
