<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>DRF React</title>
    <style>
        #modal {
            position: relative;
            z-index: 999;
        }
        .modal {
            background-color: rgba(0,0,0,0.5);
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<section class="section">
    <div class="container">
        <div id="app" class="columns">
            <!-- React -->
        </div>
        <div id="modal">

        </div>
    </div>
</section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>
